{% if userid %}
{{ userid }} 님
<a href="/logout"> 로그아웃 </a>
{% endif %}

<html>
        <head>
            <meta charset='utf-8' />
            <meta name="viewport" content="width=device=width, initial-scale=1, shrink=to=fit=no" />
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
                  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
            <!-- Option 2: Separate Popper and Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
                </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
                </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
                    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
                </script>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
        </head>
        <body>
                <!-- 엣지가 설치된 경우[windows 10 이상이거나 edge가 설치된 windows 7 이상] 인터넷 익스플로러에서 엣지로 강제 전환 -->
        <script>
            if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                window.location = 'microsoft-edge:' + window.location;

                setTimeout(function() {
                    window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                }, 1);

            }
        </script>
    </body>
</html>